@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,regular,500,600,700,500italic,600italic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,800italic,900italic&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Raleway;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Raleway;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #958977;
  overflow-x: hidden
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  opacity: 1;
  transition: opacity .3s linear
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
.loaded .loader {
  -webkit-animation: exit-load .6s linear 2s forwards;
  animation: exit-load .6s linear 2s forwards
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 500;
  background-color: #6c6456;
  opacity: 1;
  pointer-events: none
}
.loader__image {
  -webkit-animation: logo-rotate 10s linear infinite;
  animation: logo-rotate 10s linear infinite;
  aspect-ratio: 1/1;
  height: 25%;
  flex-shrink: 0
}
.loader__image svg path {
  fill: #fff;
  -webkit-animation: color-change 3s linear infinite forwards;
  animation: color-change 3s linear infinite forwards
}
@-webkit-keyframes color-change {
  0% {
    fill: #fff
  }
  50% {
    fill: #000
  }
  100% {
    fill: #fff
  }
}
@keyframes color-change {
  0% {
    fill: #fff
  }
  50% {
    fill: #000
  }
  100% {
    fill: #fff
  }
}
@-webkit-keyframes exit-load {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
@keyframes exit-load {
  0% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}
*::selection {
  color: #7d5757;
  background-color: #fff
}
.button {
  display: inline-flex;
  border-radius: .1875rem;
  padding: 0 3.75rem;
  min-height: 2.75rem;
  line-height: 2.75rem;
  background-color: #fff;
  font-weight: 700;
  font-size: .9375rem;
  letter-spacing: .02em;
  text-transform: uppercase;
  color: #343434;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background-color .5s linear,color .3s linear
}
.button--fw {
  width: 100%
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: .1875rem
}
.menu__item--services {
  padding-right: .0625rem
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.logo {
  display: flex;
  transition: color .3s linear;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent
}
.logo__icon {
  flex-shrink: 0;
  aspect-ratio: 1/1;
  -webkit-animation: logo-rotate 12s linear infinite;
  animation: logo-rotate 12s linear infinite
}
.logo__icon img,
.logo__icon svg,
.logo__icon svg path {
  height: 100%;
  width: 100%
}
.logo__icon svg path {
  transition: fill .3s linear
}
.logo__text {
  font-family: "Playfair Display";
  line-height: 95%
}
@-webkit-keyframes logo-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
@keyframes logo-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
.link {
  font-family: "Playfair Display";
  font-weight: 500;
  font-size: .875rem;
  line-height: 128.571429%;
  letter-spacing: .01em;
  text-transform: uppercase;
  transition: color .3s linear;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent
}
.social {
  display: flex;
  flex-wrap: wrap;
  row-gap: .3125rem;
  -webkit-column-gap: .875rem;
  -moz-column-gap: .875rem;
  column-gap: .875rem;
  min-width: 8.125rem
}
.social__item {
  width: 2.125rem;
  height: 2.125rem;
  flex-shrink: 0
}
.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent
}
.social__link svg path {
  transition: fill .3s linear
}
.section-name {
  font-weight: 600;
  font-size: .875rem;
  line-height: 114%;
  text-transform: uppercase
}
.ticker {
  font-weight: 200;
  line-height: 118.055556%;
  white-space: nowrap;
  overflow-x: hidden;
  z-index: 5;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.ticker__text {
  display: inline-block;
  padding-left: 100vw;
  -webkit-animation: marquee 30s linear infinite;
  animation: marquee 30s linear infinite
}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}
@keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}
.decor {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent
}
.decor svg path {
  transition: fill .3s linear
}
.items-services {
  display: grid
}
.items-services__item {
  display: grid;
  align-items: start;
  grid-template-columns: auto minmax(auto,26rem);
  gap: 10.9375rem
}
.items-services__title {
  font-style: italic;
  font-weight: 500;
  font-size: 2rem;
  line-height: 150%;
  position: relative
}
.items-services__title::after {
  content: "";
  position: absolute;
  right: -8.625rem;
  top: .9375rem;
  width: 6.25rem;
  height: .03125rem;
  background-color: #fff
}
.items-services__text {
  line-height: 130%
}
.items-services__text p:not(:last-child) {
  margin-bottom: .9375rem
}
@-webkit-keyframes plump-effect {
  0% {
    -webkit-transform: perspective(62.5rem) rotateX(40deg) rotateY(90deg) scale(2);
    transform: perspective(62.5rem) rotateX(40deg) rotateY(90deg) scale(2)
  }
  100% {
    -webkit-transform: perspective(62.5rem) rotateX(0) rotateY(0) scale(1);
    transform: perspective(62.5rem) rotateX(0) rotateY(0) scale(1)
  }
}
@keyframes plump-effect {
  0% {
    -webkit-transform: perspective(62.5rem) rotateX(40deg) rotateY(90deg) scale(2);
    transform: perspective(62.5rem) rotateX(40deg) rotateY(90deg) scale(2)
  }
  100% {
    -webkit-transform: perspective(62.5rem) rotateX(0) rotateY(0) scale(1);
    transform: perspective(62.5rem) rotateX(0) rotateY(0) scale(1)
  }
}
@-webkit-keyframes scale-effect {
  0% {
    -webkit-transform: perspective(62.5rem) translate(-50.4%,0) scale(0) rotate(-20deg);
    transform: perspective(62.5rem) translate(-50.4%,0) scale(0) rotate(-20deg)
  }
  100% {
    -webkit-transform: perspective(62.5rem) translate(-50.4%,0) scale(1) rotate(0);
    transform: perspective(62.5rem) translate(-50.4%,0) scale(1) rotate(0)
  }
}
@keyframes scale-effect {
  0% {
    -webkit-transform: perspective(62.5rem) translate(-50.4%,0) scale(0) rotate(-20deg);
    transform: perspective(62.5rem) translate(-50.4%,0) scale(0) rotate(-20deg)
  }
  100% {
    -webkit-transform: perspective(62.5rem) translate(-50.4%,0) scale(1) rotate(0);
    transform: perspective(62.5rem) translate(-50.4%,0) scale(1) rotate(0)
  }
}
@-webkit-keyframes appear-effect {
  0% {
    left: -100%
  }
  100% {
    left: 0
  }
}
@keyframes appear-effect {
  0% {
    left: -100%
  }
  100% {
    left: 0
  }
}
.text-section {
  position: relative
}
.text-section__wrapper {
  position: sticky;
  top: 0;
  left: 0
}
.text-section__value {
  display: inline
}
.text-section__mask {
  height: 16.666%;
  position: absolute;
  width: 100%;
  top: 33.333%;
  left: 0
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  transition: background-color .3s linear
}
.header._header-scroll {
  background-color: rgba(149,137,119,.8);
  transition: background-color 1s linear
}
.header._header-scroll .header__container {
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  transition: padding-top .8s,padding-bottom .8s
}
.header__container {
  display: grid;
  align-items: start;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  grid-template-columns: 1fr auto 1fr;
  transition: padding-top .3s linear,padding-bottom .3s linear
}
.header__logo {
  position: relative;
  z-index: 10
}
.header__social {
  justify-self: end
}
.footer {
  background-color: #6c6456
}
.footer__content {
  padding-bottom: 8.3125rem;
  display: grid;
  align-items: center;
  grid-template-columns: minmax(21.875rem,1fr) 1fr 1fr;
  gap: .625rem
}
.footer__copy {
  font-family: "Playfair Display";
  font-size: .875rem;
  line-height: 143%;
  letter-spacing: .02em;
  text-align: center;
  padding-top: 1.375rem;
  padding-bottom: 1.375rem
}
.list-footer {
  display: flex;
  flex-wrap: wrap;
  row-gap: .3125rem;
  -webkit-column-gap: 1.75rem;
  -moz-column-gap: 1.75rem;
  column-gap: 1.75rem
}
.hero {
  min-height: 100vh;
  position: relative;
  overflow: hidden
}
.hero::after {
  content: "";
  opacity: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 65.4375rem;
  aspect-ratio: 1/1;
  background-color: transparent;
  border: .0625rem solid #fff;
  border-radius: 100%;
  z-index: 5
}
.loaded .hero._watcher-view::after {
  opacity: 1;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  transition: opacity .8s 2s,-webkit-transform 1s 2s;
  transition: opacity .8s 2s,transform 1s 2s;
  transition: opacity .8s 2s,transform 1s 2s,-webkit-transform 1s 2s
}
.hero__container {
  min-height: 100vh;
  position: relative;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center
}
.hero__body {
  flex: 1 1 auto;
  max-width: 39.75rem;
  text-align: center;
  display: grid;
  justify-items: center;
  align-content: center
}
.hero__title {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 900;
  line-height: 105%;
  letter-spacing: .03em;
  -webkit-text-stroke: .0875rem #fff;
  opacity: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 62.5rem;
  perspective: 62.5rem
}
.loaded .hero__title._watcher-view {
  opacity: 1;
  transition: opacity 1s 3s;
  -webkit-animation: plump-effect 2s linear 3s forwards;
  animation: plump-effect 2s linear 3s forwards
}
.hero__title:not(:last-child) {
  margin-bottom: 1.0625rem
}
.hero__title--lh {
  display: inline-block
}
.hero__title--ampersand {
  display: inline-block;
  position: absolute;
  left: 50.4%;
  -webkit-transform: perspective(62.5rem) translate(-50.4%,0) scale(0);
  transform: perspective(62.5rem) translate(-50.4%,0) scale(0);
  opacity: 0
}
.loaded ._watcher-view .hero__title--ampersand {
  opacity: 1;
  -webkit-animation: scale-effect 1.5s linear 4.5s forwards;
  animation: scale-effect 1.5s linear 4.5s forwards;
  transition: opacity 1s 4.5s
}
.hero__title--ampersand svg {
  position: relative;
  overflow: visible;
  aspect-ratio: 214/172
}
.hero__text {
  font-size: 1.125rem;
  line-height: 156%
}
.hero__text span {
  font-weight: 600;
  font-style: italic
}
.hero__text p:not(:last-child) {
  margin-bottom: .9375rem
}
.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - .0625rem)
}
.hero__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.hero__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  z-index: 2
}
.about {
  position: relative
}
.about__body {
  position: relative
}
.about__content {
  max-width: 53.5rem;
  margin: 0 auto;
  display: grid;
  justify-items: center
}
.about__text {
  line-height: 126%;
  font-weight: 300;
  position: relative;
  z-index: 5
}
.about__text .about__text--mark {
  font-weight: 500;
  font-style: italic
}
.about__image {
  aspect-ratio: 416/229;
  max-width: 26rem
}
.about__image img {
  transition: box-shadow .6s linear
}
.about__ticker {
  position: absolute;
  left: 0;
  bottom: 0
}
.services {
  position: relative
}
.services__container {
  position: relative;
  z-index: 2
}
.services__body {
  position: relative
}
.services__content {
  display: grid;
  justify-items: center;
  max-width: 53.5rem;
  margin: 0 auto
}
.services__caption {
  position: absolute;
  left: -100%;
  width: 100%;
  opacity: 0
}
.loaded .services__caption._watcher-view {
  opacity: 1;
  transition: opacity 1s 2.3s;
  -webkit-animation: appear-effect 2.5s linear 2.3s forwards;
  animation: appear-effect 2.5s linear 2.3s forwards
}
.reserve {
  position: relative;
  min-height: 100vh
}
.reserve__container {
  position: relative;
  z-index: 5
}
.reserve__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative
}
.reserve__content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 44.625rem
}
.reserve__main {
  flex: 1 1 auto;
  display: grid;
  align-content: center;
  justify-items: center;
  text-align: center
}
.reserve__action {
  font-family: "Playfair Display";
  font-style: italic;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: .02em;
  opacity: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 62.5rem;
  perspective: 62.5rem
}
.loaded .reserve__action._watcher-view {
  opacity: 1;
  transition: opacity 1s 2.3s;
  -webkit-animation: plump-effect 2s linear 2.3s forwards;
  animation: plump-effect 2s linear 2.3s forwards
}
.reserve__action a {
  font-family: Raleway;
  font-weight: 300;
  font-style: normal;
  white-space: nowrap;
  transition: color .3s linear;
  -webkit-tap-highlight-color: transparent
}
.reserve__text {
  font-weight: 500;
  line-height: 120%;
  max-width: 40.3125rem
}
.reserve__text p:not(:last-child) {
  margin-bottom: .9375rem
}
.reserve__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}
.reserve__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.reserve__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  z-index: 2
}
@media (min-width:31.24875em) {
  .hero__image--mobile {
    display: none
  }
}
@media (min-width:47.99875em) and (any-hover:hover) {
  .menu__link.link:hover {
    color: #7d5757
  }
  .header__social .social__link:hover svg path {
    fill: #7d5757
  }
}
@media (min-width:47.99875em) and (any-hover:none) {
  .menu__link.link:active {
    transition-duration: 0s;
    color: #7d5757
  }
  .header__social .social__link:active svg path {
    transition-duration: 0s;
    fill: #7d5757
  }
}
@media (min-width:47.99875em) {
  .section-name {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg)
  }
  .header__logo {
    position: relative;
    top: 0;
    transition: top .3s linear,-webkit-transform .3s linear;
    transition: top .3s linear,transform .3s linear;
    transition: top .3s linear,transform .3s linear,-webkit-transform .3s linear
  }
  ._header-scroll .header__logo {
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    transition: top .8s,-webkit-transform .8s;
    transition: top .8s,transform .8s;
    transition: top .8s,transform .8s,-webkit-transform .8s
  }
  .header__menu {
    position: relative;
    top: 0;
    transition: top .3s linear,-webkit-transform .3s linear;
    transition: top .3s linear,transform .3s linear;
    transition: top .3s linear,transform .3s linear,-webkit-transform .3s linear
  }
  ._header-scroll .header__menu {
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    transition: top .8s,-webkit-transform .8s;
    transition: top .8s,transform .8s;
    transition: top .8s,transform .8s,-webkit-transform .8s
  }
  .header__social {
    position: relative;
    top: 0;
    transition: top .3s linear,-webkit-transform .3s linear;
    transition: top .3s linear,transform .3s linear;
    transition: top .3s linear,transform .3s linear,-webkit-transform .3s linear
  }
  ._header-scroll .header__social {
    top: 50%;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    transition: top .8s,-webkit-transform .8s;
    transition: top .8s,transform .8s;
    transition: top .8s,transform .8s,-webkit-transform .8s
  }
  .footer__logo {
    justify-self: center
  }
  .footer__social {
    justify-self: end;
    justify-content: flex-end
  }
  .about__body {
    padding-left: 3.4375rem
  }
  .about__name {
    position: absolute;
    left: -1.6875rem
  }
  .services__body {
    padding-left: 3.4375rem
  }
  .services__name {
    position: absolute;
    left: -2.59375rem
  }
  .services__caption--mobile {
    display: none
  }
  .reserve__body {
    padding-left: 1.875rem
  }
  .reserve__name {
    position: absolute;
    left: -2.4375rem
  }
}
@media (min-width:47.99875em) and (min-width:87.5em) {
  .about__name {
    top: 16.375rem
  }
  .services__name {
    top: 23.75rem
  }
  .reserve__name {
    top: 21.875rem
  }
}
@media (min-width:61.99875em) {
  .items-services__item {
    min-height: 6.9375rem
  }
  .items-services__text {
    padding-top: .5rem
  }
}
@media (min-width:87.5em) {
  [class*=__container] {
    padding-left: 3.25rem
  }
  [class*=__container] {
    padding-right: 3.25rem
  }
  .menu__list {
    -webkit-column-gap: 1.75rem;
    -moz-column-gap: 1.75rem;
    column-gap: 1.75rem
  }
  .logo {
    gap: .625rem
  }
  .logo__icon {
    width: 4.5rem
  }
  .logo__text {
    font-size: 1.8125rem
  }
  .logo__text {
    padding-top: .4375rem
  }
  .ticker {
    font-size: 4.5rem
  }
  .items-services {
    gap: 3rem
  }
  .header__container {
    padding-top: 3rem
  }
  .header__container {
    padding-bottom: 3rem
  }
  .footer__content {
    padding-top: 2.5rem
  }
  .hero {
    padding-top: 8.0625rem
  }
  .hero {
    padding-bottom: 1rem
  }
  .hero::after {
    top: -47.9375rem
  }
  .hero::after {
    width: 65.4375rem
  }
  .hero__body:not(:last-child) {
    margin-bottom: 1.8125rem
  }
  .hero__title {
    font-size: 6.625rem
  }
  .hero__title:not(:last-child) {
    margin-bottom: 1.0625rem
  }
  .hero__title--lh {
    padding-top: 3.0625rem
  }
  .hero__title--ampersand svg {
    top: .375rem
  }
  .hero__title--ampersand svg {
    width: 13.375rem
  }
  .hero__text:not(:last-child) {
    margin-bottom: 1.3125rem
  }
  .about {
    padding-top: 5.5rem
  }
  .about {
    padding-bottom: 2.53125rem
  }
  .about__text {
    font-size: 2.375rem
  }
  .about__text {
    text-indent: 11.25rem
  }
  .about__text:not(:last-child) {
    margin-bottom: 5.625rem
  }
  .about__text p:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .about__ticker {
    bottom: 7rem
  }
  .services {
    padding-top: 2.53125rem
  }
  .services {
    padding-bottom: 5.625rem
  }
  .services__decor:not(:last-child) {
    margin-bottom: 5.5rem
  }
  .services__caption {
    bottom: 5.9375rem
  }
  .reserve {
    padding-top: 3.5625rem
  }
  .reserve {
    padding-bottom: 11.6875rem
  }
  .reserve__header:not(:last-child) {
    margin-bottom: 10.0625rem
  }
  .reserve__action {
    font-size: 3rem
  }
  .reserve__action:not(:last-child) {
    margin-bottom: 2.5625rem
  }
  .reserve__text {
    font-size: 1.4375rem
  }
}
@media (max-width:20em) {
  .ticker {
    font-size: 2.8125rem
  }
  .items-services {
    gap: 2rem
  }
  .items-services__title {
    font-size: 1.75rem
  }
  .footer__content {
    padding-bottom: 6.875rem
  }
  .list-footer {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .list-footer__link.link {
    font-size: .78125rem
  }
  .hero {
    padding-top: 12.5rem
  }
  .hero::after {
    top: -22.3125rem
  }
  .hero__title {
    font-size: 3.125rem
  }
  .hero__title--lh {
    padding-top: 2.3125rem
  }
  .hero__title--ampersand svg {
    top: .125rem
  }
  .hero__title--ampersand svg {
    width: 7.5rem
  }
  .about {
    padding-top: 2.5rem
  }
  .about__text {
    font-size: 1.375rem
  }
  .about__text {
    text-indent: 4.1875rem
  }
  .about__text:not(:last-child) {
    margin-bottom: 2.8125rem
  }
  .about__text p:not(:last-child) {
    margin-bottom: .9375rem
  }
  .about__ticker {
    bottom: 4.6875rem
  }
  .services__caption {
    bottom: .9375rem
  }
  .reserve__action {
    font-size: 1.875rem
  }
}
@media (max-width:61.99875em) {
  .items-services__item {
    grid-template-columns: 1fr;
    gap: 1.25rem
  }
  .items-services__title::after {
    left: 0;
    top: calc(100% + .5625rem)
  }
}
@media (max-width:47.99875em) {
  .menu__navigation {
    padding-top: 1.0625rem;
    padding-right: .25rem
  }
  .menu__body {
    background-color: #6c6456;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 3.125rem;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 3.125rem 1.1875rem 1.1875rem 1.8125rem;
    transition: left .3s linear
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    background-color: #6c6456;
    transition: left .3s linear;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0;
    transition: left .5s linear
  }
  .menu-open .menu__body::before {
    left: 0;
    transition: left .5s linear
  }
  .menu__list {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    flex-direction: column;
    align-items: stretch;
    row-gap: 1.875rem
  }
  .menu__item.menu__item--services {
    padding-right: 0
  }
  .menu__link.link {
    display: block;
    font-size: 1.5625rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1rem;
    z-index: 10;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease;
    left: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff;
    border-radius: .0625rem
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0;
    width: 1.375rem
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 100%
  }
  .header__container {
    grid-template-columns: 1fr auto
  }
  .header__social {
    justify-self: center
  }
  .footer__content {
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 3rem
  }
  .footer__list {
    order: 2
  }
  .footer__logo {
    order: 1
  }
  .footer__social {
    order: 3
  }
  .hero__title {
    -webkit-text-stroke: .084375rem #fff
  }
  .hero__text {
    line-height: 133%;
    max-width: 17.125rem;
    padding-right: .3125rem
  }
  .about__name:not(:last-child) {
    margin-bottom: 2.625rem
  }
  .about__text {
    line-height: 129%
  }
  .services__name:not(:last-child) {
    margin-bottom: 2rem
  }
  .services__caption--desktop {
    display: none
  }
  .reserve__decor:not(:last-child) {
    margin-bottom: 1.75rem
  }
  .reserve__action {
    padding: 0 .9375rem
  }
}
@media (max-width:47.99875em) and (max-width:24.375em) {
  .menu__body {
    padding-top: 9.5rem
  }
  ._header-scroll .menu__body {
    padding-top: 7.5625rem
  }
  .menu__body::before {
    height: 8.3125rem
  }
  ._header-scroll .menu__body::before {
    height: 4.4375rem
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:47.99875em) and (max-width:20em) {
  .footer__content {
    gap: 2.8125rem
  }
  .about__name:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .reserve__action {
    padding-left: .0000000625rem
  }
  .reserve__action {
    padding-right: .0000000625rem
  }
}
@media (max-width:31.24875em) {
  .hero__image--desktop {
    display: none
  }
}
@media (max-width:24.375em) {
  [class*=__container] {
    padding-left: 1.1875rem
  }
  [class*=__container] {
    padding-right: 1.1875rem
  }
  .logo {
    gap: .5rem
  }
  .logo__icon {
    width: 3.8125rem
  }
  .logo__text {
    font-size: 1.5625rem
  }
  .logo__text {
    padding-top: .3125rem
  }
  .header__container {
    padding-top: 2.25rem
  }
  .header__container {
    padding-bottom: 2.25rem
  }
  .footer__content {
    padding-top: 2.0625rem
  }
  .hero {
    padding-bottom: 1.375rem
  }
  .hero::after {
    width: 39.1875rem
  }
  .hero__body:not(:last-child) {
    margin-bottom: 3.25rem
  }
  .hero__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .hero__text:not(:last-child) {
    margin-bottom: 2.25rem
  }
  .about {
    padding-bottom: 1.5rem
  }
  .services {
    padding-top: 1.5rem
  }
  .services {
    padding-bottom: 3.5625rem
  }
  .services__decor:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .reserve {
    padding-top: 1.9375rem
  }
  .reserve {
    padding-bottom: 6.5625rem
  }
  .reserve__header:not(:last-child) {
    margin-bottom: 1.75rem
  }
  .reserve__action:not(:last-child) {
    margin-bottom: 1.75rem
  }
  .reserve__text {
    font-size: 1.125rem
  }
}
@media (min-width:24.375em) and (max-width:87.5em) {
  @supports (padding-left:clamp(1.1875rem ,0.3910891089rem + 3.2673267327vw ,3.25rem)) {
    [class*=__container] {
      padding-left: clamp(1.1875rem ,.3910891089rem + 3.2673267327vw ,3.25rem)
    }
  }
  @supports not (padding-left:clamp(1.1875rem ,0.3910891089rem + 3.2673267327vw ,3.25rem)) {
    [class*=__container] {
      padding-left: calc(1.1875rem + 2.0625 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (padding-right:clamp(1.1875rem ,0.3910891089rem + 3.2673267327vw ,3.25rem)) {
    [class*=__container] {
      padding-right: clamp(1.1875rem ,.3910891089rem + 3.2673267327vw ,3.25rem)
    }
  }
  @supports not (padding-right:clamp(1.1875rem ,0.3910891089rem + 3.2673267327vw ,3.25rem)) {
    [class*=__container] {
      padding-right: calc(1.1875rem + 2.0625 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (gap:clamp(0.5rem ,0.4517326733rem + 0.198019802vw ,0.625rem)) {
    .logo {
      gap: clamp(.5rem ,.4517326733rem + .198019802vw ,.625rem)
    }
  }
  @supports not (gap:clamp(0.5rem ,0.4517326733rem + 0.198019802vw ,0.625rem)) {
    .logo {
      gap: calc(.5rem + .125 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (width:clamp(3.8125rem ,3.547029703rem + 1.0891089109vw ,4.5rem)) {
    .logo__icon {
      width: clamp(3.8125rem ,3.547029703rem + 1.0891089109vw ,4.5rem)
    }
  }
  @supports not (width:clamp(3.8125rem ,3.547029703rem + 1.0891089109vw ,4.5rem)) {
    .logo__icon {
      width: calc(3.8125rem + .6875 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (font-size:clamp(1.5625rem ,1.4659653465rem + 0.396039604vw ,1.8125rem)) {
    .logo__text {
      font-size: clamp(1.5625rem ,1.4659653465rem + .396039604vw ,1.8125rem)
    }
  }
  @supports not (font-size:clamp(1.5625rem ,1.4659653465rem + 0.396039604vw ,1.8125rem)) {
    .logo__text {
      font-size: calc(1.5625rem + .25 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (padding-top:clamp(0.3125rem ,0.2642326733rem + 0.198019802vw ,0.4375rem)) {
    .logo__text {
      padding-top: clamp(.3125rem ,.2642326733rem + .198019802vw ,.4375rem)
    }
  }
  @supports not (padding-top:clamp(0.3125rem ,0.2642326733rem + 0.198019802vw ,0.4375rem)) {
    .logo__text {
      padding-top: calc(.3125rem + .125 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (font-size:clamp(3.125rem ,2.5940594059rem + 2.1782178218vw ,4.5rem)) {
    .ticker {
      font-size: clamp(3.125rem ,2.5940594059rem + 2.1782178218vw ,4.5rem)
    }
  }
  @supports not (font-size:clamp(3.125rem ,2.5940594059rem + 2.1782178218vw ,4.5rem)) {
    .ticker {
      font-size: calc(3.125rem + 1.375 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (gap:clamp(2.375rem ,2.1336633663rem + 0.9900990099vw ,3rem)) {
    .items-services {
      gap: clamp(2.375rem ,2.1336633663rem + .9900990099vw ,3rem)
    }
  }
  @supports not (gap:clamp(2.375rem ,2.1336633663rem + 0.9900990099vw ,3rem)) {
    .items-services {
      gap: calc(2.375rem + .625 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (padding-top:clamp(2.25rem ,1.9603960396rem + 1.1881188119vw ,3rem)) {
    .header__container {
      padding-top: clamp(2.25rem ,1.9603960396rem + 1.1881188119vw ,3rem)
    }
  }
  @supports not (padding-top:clamp(2.25rem ,1.9603960396rem + 1.1881188119vw ,3rem)) {
    .header__container {
      padding-top: calc(2.25rem + .75 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (padding-bottom:clamp(2.25rem ,1.9603960396rem + 1.1881188119vw ,3rem)) {
    .header__container {
      padding-bottom: clamp(2.25rem ,1.9603960396rem + 1.1881188119vw ,3rem)
    }
  }
  @supports not (padding-bottom:clamp(2.25rem ,1.9603960396rem + 1.1881188119vw ,3rem)) {
    .header__container {
      padding-bottom: calc(2.25rem + .75 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (padding-top:clamp(2.0625rem ,1.8935643564rem + 0.6930693069vw ,2.5rem)) {
    .footer__content {
      padding-top: clamp(2.0625rem ,1.8935643564rem + .6930693069vw ,2.5rem)
    }
  }
  @supports not (padding-top:clamp(2.0625rem ,1.8935643564rem + 0.6930693069vw ,2.5rem)) {
    .footer__content {
      padding-top: calc(2.0625rem + .4375 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (padding-top:clamp(8.0625rem ,16.3793316832rem + -9.504950495vw ,14.0625rem)) {
    .hero {
      padding-top: clamp(8.0625rem ,16.3793316832rem + -9.504950495vw ,14.0625rem)
    }
  }
  @supports not (padding-top:clamp(8.0625rem ,16.3793316832rem + -9.504950495vw ,14.0625rem)) {
    .hero {
      padding-top: calc(14.0625rem + -6 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (padding-bottom:clamp(1rem ,1.5198019802rem + -0.5940594059vw ,1.375rem)) {
    .hero {
      padding-bottom: clamp(1rem ,1.5198019802rem + -.5940594059vw ,1.375rem)
    }
  }
  @supports not (padding-bottom:clamp(1rem ,1.5198019802rem + -0.5940594059vw ,1.375rem)) {
    .hero {
      padding-bottom: calc(1.375rem + -.375 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (top:clamp(-47.9375rem ,-8.692450495rem + -44.8514851485vw ,-19.625rem)) {
    .hero::after {
      top: clamp(-47.9375rem ,-8.692450495rem + -44.8514851485vw ,-19.625rem)
    }
  }
  @supports not (top:clamp(-47.9375rem ,-8.692450495rem + -44.8514851485vw ,-19.625rem)) {
    .hero::after {
      top: calc(-19.625rem + -28.3125 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (width:clamp(39.1875rem ,29.0513613861rem + 41.5841584158vw ,65.4375rem)) {
    .hero::after {
      width: clamp(39.1875rem ,29.0513613861rem + 41.5841584158vw ,65.4375rem)
    }
  }
  @supports not (width:clamp(39.1875rem ,29.0513613861rem + 41.5841584158vw ,65.4375rem)) {
    .hero::after {
      width: calc(39.1875rem + 26.25 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (margin-bottom:clamp(1.8125rem ,3.8050742574rem + -2.2772277228vw ,3.25rem)) {
    .hero__body:not(:last-child) {
      margin-bottom: clamp(1.8125rem ,3.8050742574rem + -2.2772277228vw ,3.25rem)
    }
  }
  @supports not (margin-bottom:clamp(1.8125rem ,3.8050742574rem + -2.2772277228vw ,3.25rem)) {
    .hero__body:not(:last-child) {
      margin-bottom: calc(3.25rem + -1.4375 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (font-size:clamp(3.9375rem ,2.8997524752rem + 4.2574257426vw ,6.625rem)) {
    .hero__title {
      font-size: clamp(3.9375rem ,2.8997524752rem + 4.2574257426vw ,6.625rem)
    }
  }
  @supports not (font-size:clamp(3.9375rem ,2.8997524752rem + 4.2574257426vw ,6.625rem)) {
    .hero__title {
      font-size: calc(3.9375rem + 2.6875 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (margin-bottom:clamp(1.0625rem ,1.3224009901rem + -0.297029703vw ,1.25rem)) {
    .hero__title:not(:last-child) {
      margin-bottom: clamp(1.0625rem ,1.3224009901rem + -.297029703vw ,1.25rem)
    }
  }
  @supports not (margin-bottom:clamp(1.0625rem ,1.3224009901rem + -0.297029703vw ,1.25rem)) {
    .hero__title:not(:last-child) {
      margin-bottom: calc(1.25rem + -.1875 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (padding-top:clamp(1.625rem ,1.0699257426rem + 2.2772277228vw ,3.0625rem)) {
    .hero__title--lh {
      padding-top: clamp(1.625rem ,1.0699257426rem + 2.2772277228vw ,3.0625rem)
    }
  }
  @supports not (padding-top:clamp(1.625rem ,1.0699257426rem + 2.2772277228vw ,3.0625rem)) {
    .hero__title--lh {
      padding-top: calc(1.625rem + 1.4375 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (top:clamp(0.0625rem ,-0.0581683168rem + 0.495049505vw ,0.375rem)) {
    .hero__title--ampersand svg {
      top: clamp(.0625rem ,-.0581683168rem + .495049505vw ,.375rem)
    }
  }
  @supports not (top:clamp(0.0625rem ,-0.0581683168rem + 0.495049505vw ,0.375rem)) {
    .hero__title--ampersand svg {
      top: calc(.0625rem + .3125 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (width:clamp(8.1875rem ,6.1844059406rem + 8.2178217822vw ,13.375rem)) {
    .hero__title--ampersand svg {
      width: clamp(8.1875rem ,6.1844059406rem + 8.2178217822vw ,13.375rem)
    }
  }
  @supports not (width:clamp(8.1875rem ,6.1844059406rem + 8.2178217822vw ,13.375rem)) {
    .hero__title--ampersand svg {
      width: calc(8.1875rem + 5.1875 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (margin-bottom:clamp(1.3125rem ,2.6120049505rem + -1.4851485149vw ,2.25rem)) {
    .hero__text:not(:last-child) {
      margin-bottom: clamp(1.3125rem ,2.6120049505rem + -1.4851485149vw ,2.25rem)
    }
  }
  @supports not (margin-bottom:clamp(1.3125rem ,2.6120049505rem + -1.4851485149vw ,2.25rem)) {
    .hero__text:not(:last-child) {
      margin-bottom: calc(2.25rem + -.9375 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (padding-top:clamp(3rem ,2.0346534653rem + 3.9603960396vw ,5.5rem)) {
    .about {
      padding-top: clamp(3rem ,2.0346534653rem + 3.9603960396vw ,5.5rem)
    }
  }
  @supports not (padding-top:clamp(3rem ,2.0346534653rem + 3.9603960396vw ,5.5rem)) {
    .about {
      padding-top: calc(3rem + 2.5 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (padding-bottom:clamp(1.5rem ,1.1017945545rem + 1.6336633663vw ,2.53125rem)) {
    .about {
      padding-bottom: clamp(1.5rem ,1.1017945545rem + 1.6336633663vw ,2.53125rem)
    }
  }
  @supports not (padding-bottom:clamp(1.5rem ,1.1017945545rem + 1.6336633663vw ,2.53125rem)) {
    .about {
      padding-bottom: calc(1.5rem + 1.03125 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (font-size:clamp(1.75rem ,1.5086633663rem + 0.9900990099vw ,2.375rem)) {
    .about__text {
      font-size: clamp(1.75rem ,1.5086633663rem + .9900990099vw ,2.375rem)
    }
  }
  @supports not (font-size:clamp(1.75rem ,1.5086633663rem + 0.9900990099vw ,2.375rem)) {
    .about__text {
      font-size: calc(1.75rem + .625 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (text-indent:clamp(5rem ,2.5866336634rem + 9.900990099vw ,11.25rem)) {
    .about__text {
      text-indent: clamp(5rem ,2.5866336634rem + 9.900990099vw ,11.25rem)
    }
  }
  @supports not (text-indent:clamp(5rem ,2.5866336634rem + 9.900990099vw ,11.25rem)) {
    .about__text {
      text-indent: calc(5rem + 6.25 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (margin-bottom:clamp(3.25rem ,2.3329207921rem + 3.7623762376vw ,5.625rem)) {
    .about__text:not(:last-child) {
      margin-bottom: clamp(3.25rem ,2.3329207921rem + 3.7623762376vw ,5.625rem)
    }
  }
  @supports not (margin-bottom:clamp(3.25rem ,2.3329207921rem + 3.7623762376vw ,5.625rem)) {
    .about__text:not(:last-child) {
      margin-bottom: calc(3.25rem + 2.375 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (bottom:clamp(5.625rem ,5.0940594059rem + 2.1782178218vw ,7rem)) {
    .about__ticker {
      bottom: clamp(5.625rem ,5.0940594059rem + 2.1782178218vw ,7rem)
    }
  }
  @supports not (bottom:clamp(5.625rem ,5.0940594059rem + 2.1782178218vw ,7rem)) {
    .about__ticker {
      bottom: calc(5.625rem + 1.375 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (padding-top:clamp(1.5rem ,1.1017945545rem + 1.6336633663vw ,2.53125rem)) {
    .services {
      padding-top: clamp(1.5rem ,1.1017945545rem + 1.6336633663vw ,2.53125rem)
    }
  }
  @supports not (padding-top:clamp(1.5rem ,1.1017945545rem + 1.6336633663vw ,2.53125rem)) {
    .services {
      padding-top: calc(1.5rem + 1.03125 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (padding-bottom:clamp(3.5625rem ,2.7660891089rem + 3.2673267327vw ,5.625rem)) {
    .services {
      padding-bottom: clamp(3.5625rem ,2.7660891089rem + 3.2673267327vw ,5.625rem)
    }
  }
  @supports not (padding-bottom:clamp(3.5625rem ,2.7660891089rem + 3.2673267327vw ,5.625rem)) {
    .services {
      padding-bottom: calc(3.5625rem + 2.0625 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,2.2079207921rem + 3.7623762376vw ,5.5rem)) {
    .services__decor:not(:last-child) {
      margin-bottom: clamp(3.125rem ,2.2079207921rem + 3.7623762376vw ,5.5rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,2.2079207921rem + 3.7623762376vw ,5.5rem)) {
    .services__decor:not(:last-child) {
      margin-bottom: calc(3.125rem + 2.375 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (bottom:clamp(1.5625rem ,-0.1268564356rem + 6.9306930693vw ,5.9375rem)) {
    .services__caption {
      bottom: clamp(1.5625rem ,-.1268564356rem + 6.9306930693vw ,5.9375rem)
    }
  }
  @supports not (bottom:clamp(1.5625rem ,-0.1268564356rem + 6.9306930693vw ,5.9375rem)) {
    .services__caption {
      bottom: calc(1.5625rem + 4.375 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (padding-top:clamp(1.9375rem ,1.3100247525rem + 2.5742574257vw ,3.5625rem)) {
    .reserve {
      padding-top: clamp(1.9375rem ,1.3100247525rem + 2.5742574257vw ,3.5625rem)
    }
  }
  @supports not (padding-top:clamp(1.9375rem ,1.3100247525rem + 2.5742574257vw ,3.5625rem)) {
    .reserve {
      padding-top: calc(1.9375rem + 1.625 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (padding-bottom:clamp(6.5625rem ,4.583539604rem + 8.1188118812vw ,11.6875rem)) {
    .reserve {
      padding-bottom: clamp(6.5625rem ,4.583539604rem + 8.1188118812vw ,11.6875rem)
    }
  }
  @supports not (padding-bottom:clamp(6.5625rem ,4.583539604rem + 8.1188118812vw ,11.6875rem)) {
    .reserve {
      padding-bottom: calc(6.5625rem + 5.125 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (margin-bottom:clamp(1.75rem ,-1.4597772277rem + 13.1683168317vw ,10.0625rem)) {
    .reserve__header:not(:last-child) {
      margin-bottom: clamp(1.75rem ,-1.4597772277rem + 13.1683168317vw ,10.0625rem)
    }
  }
  @supports not (margin-bottom:clamp(1.75rem ,-1.4597772277rem + 13.1683168317vw ,10.0625rem)) {
    .reserve__header:not(:last-child) {
      margin-bottom: calc(1.75rem + 8.3125 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (font-size:clamp(2.25rem ,1.9603960396rem + 1.1881188119vw ,3rem)) {
    .reserve__action {
      font-size: clamp(2.25rem ,1.9603960396rem + 1.1881188119vw ,3rem)
    }
  }
  @supports not (font-size:clamp(2.25rem ,1.9603960396rem + 1.1881188119vw ,3rem)) {
    .reserve__action {
      font-size: calc(2.25rem + .75 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (margin-bottom:clamp(1.75rem ,1.4362623762rem + 1.2871287129vw ,2.5625rem)) {
    .reserve__action:not(:last-child) {
      margin-bottom: clamp(1.75rem ,1.4362623762rem + 1.2871287129vw ,2.5625rem)
    }
  }
  @supports not (margin-bottom:clamp(1.75rem ,1.4362623762rem + 1.2871287129vw ,2.5625rem)) {
    .reserve__action:not(:last-child) {
      margin-bottom: calc(1.75rem + .8125 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (font-size:clamp(1.125rem ,1.0043316832rem + 0.495049505vw ,1.4375rem)) {
    .reserve__text {
      font-size: clamp(1.125rem ,1.0043316832rem + .495049505vw ,1.4375rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,1.0043316832rem + 0.495049505vw ,1.4375rem)) {
    .reserve__text {
      font-size: calc(1.125rem + .3125 * (100vw - 24.375rem)/ 63.125)
    }
  }
}
@media (max-width:47.99875em) and (min-width:87.5em) {
  .menu__body {
    padding-top: 10.9375rem
  }
  ._header-scroll .menu__body {
    padding-top: 8.25rem
  }
  .menu__body::before {
    height: 10.5rem
  }
  ._header-scroll .menu__body::before {
    height: 5.125rem
  }
}
@media (max-width:47.99875em) and (min-width:24.375em) and (max-width:87.5em) {
  @supports (padding-top:clamp(9.5rem ,8.9449257426rem + 2.2772277228vw ,10.9375rem)) {
    .menu__body {
      padding-top: clamp(9.5rem ,8.9449257426rem + 2.2772277228vw ,10.9375rem)
    }
  }
  @supports not (padding-top:clamp(9.5rem ,8.9449257426rem + 2.2772277228vw ,10.9375rem)) {
    .menu__body {
      padding-top: calc(9.5rem + 1.4375 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (padding-top:clamp(7.5625rem ,7.297029703rem + 1.0891089109vw ,8.25rem)) {
    ._header-scroll .menu__body {
      padding-top: clamp(7.5625rem ,7.297029703rem + 1.0891089109vw ,8.25rem)
    }
  }
  @supports not (padding-top:clamp(7.5625rem ,7.297029703rem + 1.0891089109vw ,8.25rem)) {
    ._header-scroll .menu__body {
      padding-top: calc(7.5625rem + .6875 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (height:clamp(8.3125rem ,7.4678217822rem + 3.4653465347vw ,10.5rem)) {
    .menu__body::before {
      height: clamp(8.3125rem ,7.4678217822rem + 3.4653465347vw ,10.5rem)
    }
  }
  @supports not (height:clamp(8.3125rem ,7.4678217822rem + 3.4653465347vw ,10.5rem)) {
    .menu__body::before {
      height: calc(8.3125rem + 2.1875 * (100vw - 24.375rem)/ 63.125)
    }
  }
  @supports (height:clamp(4.4375rem ,4.172029703rem + 1.0891089109vw ,5.125rem)) {
    ._header-scroll .menu__body::before {
      height: clamp(4.4375rem ,4.172029703rem + 1.0891089109vw ,5.125rem)
    }
  }
  @supports not (height:clamp(4.4375rem ,4.172029703rem + 1.0891089109vw ,5.125rem)) {
    ._header-scroll .menu__body::before {
      height: calc(4.4375rem + .6875 * (100vw - 24.375rem)/ 63.125)
    }
  }
}
@media (min-width:47.99875em) and (max-width:87.5em) {
  @supports ((-moz-column-gap:clamp(1.25rem ,0.6424401127rem + 1.2657827284vw ,1.75rem)) or (column-gap:clamp(1.25rem ,0.6424401127rem + 1.2657827284vw ,1.75rem))) {
    .menu__list {
      -webkit-column-gap: clamp(1.25rem ,.6424401127rem + 1.2657827284vw ,1.75rem);
      -moz-column-gap: clamp(1.25rem ,.6424401127rem + 1.2657827284vw ,1.75rem);
      column-gap: clamp(1.25rem ,.6424401127rem + 1.2657827284vw ,1.75rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.25rem ,0.6424401127rem + 1.2657827284vw ,1.75rem)) or (column-gap:clamp(1.25rem ,0.6424401127rem + 1.2657827284vw ,1.75rem))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + .5 * (100vw - 47.99875rem)/ 39.50125);
      -moz-column-gap: calc(1.25rem + .5 * (100vw - 47.99875rem)/ 39.50125);
      column-gap: calc(1.25rem + .5 * (100vw - 47.99875rem)/ 39.50125)
    }
  }
}
@media (min-width:20em) and (max-width:24.375em) {
  @supports (font-size:clamp(2.8125rem ,1.3839285714rem + 7.1428571429vw ,3.125rem)) {
    .ticker {
      font-size: clamp(2.8125rem ,1.3839285714rem + 7.1428571429vw ,3.125rem)
    }
  }
  @supports not (font-size:clamp(2.8125rem ,1.3839285714rem + 7.1428571429vw ,3.125rem)) {
    .ticker {
      font-size: calc(2.8125rem + .3125 * (100vw - 20rem)/ 4.375)
    }
  }
  @supports (gap:clamp(2rem ,0.2857142857rem + 8.5714285714vw ,2.375rem)) {
    .items-services {
      gap: clamp(2rem ,.2857142857rem + 8.5714285714vw ,2.375rem)
    }
  }
  @supports not (gap:clamp(2rem ,0.2857142857rem + 8.5714285714vw ,2.375rem)) {
    .items-services {
      gap: calc(2rem + .375 * (100vw - 20rem)/ 4.375)
    }
  }
  @supports (font-size:clamp(1.75rem ,0.6071428571rem + 5.7142857143vw ,2rem)) {
    .items-services__title {
      font-size: clamp(1.75rem ,.6071428571rem + 5.7142857143vw ,2rem)
    }
  }
  @supports not (font-size:clamp(1.75rem ,0.6071428571rem + 5.7142857143vw ,2rem)) {
    .items-services__title {
      font-size: calc(1.75rem + .25 * (100vw - 20rem)/ 4.375)
    }
  }
  @supports (padding-bottom:clamp(6.875rem ,0.3035714286rem + 32.8571428571vw ,8.3125rem)) {
    .footer__content {
      padding-bottom: clamp(6.875rem ,.3035714286rem + 32.8571428571vw ,8.3125rem)
    }
  }
  @supports not (padding-bottom:clamp(6.875rem ,0.3035714286rem + 32.8571428571vw ,8.3125rem)) {
    .footer__content {
      padding-bottom: calc(6.875rem + 1.4375 * (100vw - 20rem)/ 4.375)
    }
  }
  @supports ((-moz-column-gap:clamp(1.25rem ,-1.0357142857rem + 11.4285714286vw ,1.75rem)) or (column-gap:clamp(1.25rem ,-1.0357142857rem + 11.4285714286vw ,1.75rem))) {
    .list-footer {
      -webkit-column-gap: clamp(1.25rem ,-1.0357142857rem + 11.4285714286vw ,1.75rem);
      -moz-column-gap: clamp(1.25rem ,-1.0357142857rem + 11.4285714286vw ,1.75rem);
      column-gap: clamp(1.25rem ,-1.0357142857rem + 11.4285714286vw ,1.75rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.25rem ,-1.0357142857rem + 11.4285714286vw ,1.75rem)) or (column-gap:clamp(1.25rem ,-1.0357142857rem + 11.4285714286vw ,1.75rem))) {
    .list-footer {
      -webkit-column-gap: calc(1.25rem + .5 * (100vw - 20rem)/ 4.375);
      -moz-column-gap: calc(1.25rem + .5 * (100vw - 20rem)/ 4.375);
      column-gap: calc(1.25rem + .5 * (100vw - 20rem)/ 4.375)
    }
  }
  @supports (font-size:clamp(0.78125rem ,0.3526785714rem + 2.1428571429vw ,0.875rem)) {
    .list-footer__link.link {
      font-size: clamp(.78125rem ,.3526785714rem + 2.1428571429vw ,.875rem)
    }
  }
  @supports not (font-size:clamp(0.78125rem ,0.3526785714rem + 2.1428571429vw ,0.875rem)) {
    .list-footer__link.link {
      font-size: calc(.78125rem + .09375 * (100vw - 20rem)/ 4.375)
    }
  }
  @supports (padding-top:clamp(12.5rem ,5.3571428571rem + 35.7142857143vw ,14.0625rem)) {
    .hero {
      padding-top: clamp(12.5rem ,5.3571428571rem + 35.7142857143vw ,14.0625rem)
    }
  }
  @supports not (padding-top:clamp(12.5rem ,5.3571428571rem + 35.7142857143vw ,14.0625rem)) {
    .hero {
      padding-top: calc(12.5rem + 1.5625 * (100vw - 20rem)/ 4.375)
    }
  }
  @supports (top:clamp(-22.3125rem ,-34.5982142857rem + 61.4285714286vw ,-19.625rem)) {
    .hero::after {
      top: clamp(-22.3125rem ,-34.5982142857rem + 61.4285714286vw ,-19.625rem)
    }
  }
  @supports not (top:clamp(-22.3125rem ,-34.5982142857rem + 61.4285714286vw ,-19.625rem)) {
    .hero::after {
      top: calc(-22.3125rem + 2.6875 * (100vw - 20rem)/ 4.375)
    }
  }
  @supports (font-size:clamp(3.125rem ,-0.5892857143rem + 18.5714285714vw ,3.9375rem)) {
    .hero__title {
      font-size: clamp(3.125rem ,-.5892857143rem + 18.5714285714vw ,3.9375rem)
    }
  }
  @supports not (font-size:clamp(3.125rem ,-0.5892857143rem + 18.5714285714vw ,3.9375rem)) {
    .hero__title {
      font-size: calc(3.125rem + .8125 * (100vw - 20rem)/ 4.375)
    }
  }
  @supports (padding-top:clamp(1.625rem ,5.4553571429rem + -15.7142857143vw ,2.3125rem)) {
    .hero__title--lh {
      padding-top: clamp(1.625rem ,5.4553571429rem + -15.7142857143vw ,2.3125rem)
    }
  }
  @supports not (padding-top:clamp(1.625rem ,5.4553571429rem + -15.7142857143vw ,2.3125rem)) {
    .hero__title--lh {
      padding-top: calc(2.3125rem + -.6875 * (100vw - 20rem)/ 4.375)
    }
  }
  @supports (top:clamp(0.0625rem ,0.4107142857rem + -1.4285714286vw ,0.125rem)) {
    .hero__title--ampersand svg {
      top: clamp(.0625rem ,.4107142857rem + -1.4285714286vw ,.125rem)
    }
  }
  @supports not (top:clamp(0.0625rem ,0.4107142857rem + -1.4285714286vw ,0.125rem)) {
    .hero__title--ampersand svg {
      top: calc(.125rem + -.0625 * (100vw - 20rem)/ 4.375)
    }
  }
  @supports (width:clamp(7.5rem ,4.3571428571rem + 15.7142857143vw ,8.1875rem)) {
    .hero__title--ampersand svg {
      width: clamp(7.5rem ,4.3571428571rem + 15.7142857143vw ,8.1875rem)
    }
  }
  @supports not (width:clamp(7.5rem ,4.3571428571rem + 15.7142857143vw ,8.1875rem)) {
    .hero__title--ampersand svg {
      width: calc(7.5rem + .6875 * (100vw - 20rem)/ 4.375)
    }
  }
  @supports (padding-top:clamp(2.5rem ,0.2142857143rem + 11.4285714286vw ,3rem)) {
    .about {
      padding-top: clamp(2.5rem ,.2142857143rem + 11.4285714286vw ,3rem)
    }
  }
  @supports not (padding-top:clamp(2.5rem ,0.2142857143rem + 11.4285714286vw ,3rem)) {
    .about {
      padding-top: calc(2.5rem + .5 * (100vw - 20rem)/ 4.375)
    }
  }
  @supports (font-size:clamp(1.375rem ,-0.3392857143rem + 8.5714285714vw ,1.75rem)) {
    .about__text {
      font-size: clamp(1.375rem ,-.3392857143rem + 8.5714285714vw ,1.75rem)
    }
  }
  @supports not (font-size:clamp(1.375rem ,-0.3392857143rem + 8.5714285714vw ,1.75rem)) {
    .about__text {
      font-size: calc(1.375rem + .375 * (100vw - 20rem)/ 4.375)
    }
  }
  @supports (text-indent:clamp(4.1875rem ,0.4732142857rem + 18.5714285714vw ,5rem)) {
    .about__text {
      text-indent: clamp(4.1875rem ,.4732142857rem + 18.5714285714vw ,5rem)
    }
  }
  @supports not (text-indent:clamp(4.1875rem ,0.4732142857rem + 18.5714285714vw ,5rem)) {
    .about__text {
      text-indent: calc(4.1875rem + .8125 * (100vw - 20rem)/ 4.375)
    }
  }
  @supports (margin-bottom:clamp(2.8125rem ,0.8125rem + 10vw ,3.25rem)) {
    .about__text:not(:last-child) {
      margin-bottom: clamp(2.8125rem ,.8125rem + 10vw ,3.25rem)
    }
  }
  @supports not (margin-bottom:clamp(2.8125rem ,0.8125rem + 10vw ,3.25rem)) {
    .about__text:not(:last-child) {
      margin-bottom: calc(2.8125rem + .4375 * (100vw - 20rem)/ 4.375)
    }
  }
  @supports (bottom:clamp(4.6875rem ,0.4017857143rem + 21.4285714286vw ,5.625rem)) {
    .about__ticker {
      bottom: clamp(4.6875rem ,.4017857143rem + 21.4285714286vw ,5.625rem)
    }
  }
  @supports not (bottom:clamp(4.6875rem ,0.4017857143rem + 21.4285714286vw ,5.625rem)) {
    .about__ticker {
      bottom: calc(4.6875rem + .9375 * (100vw - 20rem)/ 4.375)
    }
  }
  @supports (bottom:clamp(0.9375rem ,-1.9196428571rem + 14.2857142857vw ,1.5625rem)) {
    .services__caption {
      bottom: clamp(.9375rem ,-1.9196428571rem + 14.2857142857vw ,1.5625rem)
    }
  }
  @supports not (bottom:clamp(0.9375rem ,-1.9196428571rem + 14.2857142857vw ,1.5625rem)) {
    .services__caption {
      bottom: calc(.9375rem + .625 * (100vw - 20rem)/ 4.375)
    }
  }
  @supports (font-size:clamp(1.875rem ,0.1607142857rem + 8.5714285714vw ,2.25rem)) {
    .reserve__action {
      font-size: clamp(1.875rem ,.1607142857rem + 8.5714285714vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,0.1607142857rem + 8.5714285714vw ,2.25rem)) {
    .reserve__action {
      font-size: calc(1.875rem + .375 * (100vw - 20rem)/ 4.375)
    }
  }
}
@media (max-width:47.99875em) and (min-width:20em) and (max-width:24.375em) {
  @supports (gap:clamp(2.8125rem ,1.9553571429rem + 4.2857142857vw ,3rem)) {
    .footer__content {
      gap: clamp(2.8125rem ,1.9553571429rem + 4.2857142857vw ,3rem)
    }
  }
  @supports not (gap:clamp(2.8125rem ,1.9553571429rem + 4.2857142857vw ,3rem)) {
    .footer__content {
      gap: calc(2.8125rem + .1875 * (100vw - 20rem)/ 4.375)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,1.9285714286rem + 2.8571428571vw ,2.625rem)) {
    .about__name:not(:last-child) {
      margin-bottom: clamp(2.5rem ,1.9285714286rem + 2.8571428571vw ,2.625rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,1.9285714286rem + 2.8571428571vw ,2.625rem)) {
    .about__name:not(:last-child) {
      margin-bottom: calc(2.5rem + .125 * (100vw - 20rem)/ 4.375)
    }
  }
  @supports (padding-left:clamp(0.0000000625rem ,-4.2857139375rem + 21.42857vw ,0.9375rem)) {
    .reserve__action {
      padding-left: clamp(.0000000625rem ,-4.2857139375rem + 21.42857vw ,.9375rem)
    }
  }
  @supports not (padding-left:clamp(0.0000000625rem ,-4.2857139375rem + 21.42857vw ,0.9375rem)) {
    .reserve__action {
      padding-left: calc(.0000000625rem + .9374999375 * (100vw - 20rem)/ 4.375)
    }
  }
  @supports (padding-right:clamp(0.0000000625rem ,-4.2857139375rem + 21.42857vw ,0.9375rem)) {
    .reserve__action {
      padding-right: clamp(.0000000625rem ,-4.2857139375rem + 21.42857vw ,.9375rem)
    }
  }
  @supports not (padding-right:clamp(0.0000000625rem ,-4.2857139375rem + 21.42857vw ,0.9375rem)) {
    .reserve__action {
      padding-right: calc(.0000000625rem + .9374999375 * (100vw - 20rem)/ 4.375)
    }
  }
}
@media (min-width:47.99875em) and (min-width:47.99875em) and (max-width:87.5em) {
  @supports (top:clamp(12.5rem ,7.7914108731rem + 9.8098161451vw ,16.375rem)) {
    .about__name {
      top: clamp(12.5rem ,7.7914108731rem + 9.8098161451vw ,16.375rem)
    }
  }
  @supports not (top:clamp(12.5rem ,7.7914108731rem + 9.8098161451vw ,16.375rem)) {
    .about__name {
      top: calc(12.5rem + 3.875 * (100vw - 47.99875rem)/ 39.50125)
    }
  }
  @supports (top:clamp(21.875rem ,19.5966504225rem + 4.7466852315vw ,23.75rem)) {
    .services__name {
      top: clamp(21.875rem ,19.5966504225rem + 4.7466852315vw ,23.75rem)
    }
  }
  @supports not (top:clamp(21.875rem ,19.5966504225rem + 4.7466852315vw ,23.75rem)) {
    .services__name {
      top: calc(21.875rem + 1.875 * (100vw - 47.99875rem)/ 39.50125)
    }
  }
  @supports (top:clamp(15rem ,6.646051549rem + 17.4045125154vw ,21.875rem)) {
    .reserve__name {
      top: clamp(15rem ,6.646051549rem + 17.4045125154vw ,21.875rem)
    }
  }
  @supports not (top:clamp(15rem ,6.646051549rem + 17.4045125154vw ,21.875rem)) {
    .reserve__name {
      top: calc(15rem + 6.875 * (100vw - 47.99875rem)/ 39.50125)
    }
  }
}
@media (min-width:47.99875em) and (max-width:47.99875em) {
  .about__name {
    top: 12.5rem
  }
  .services__name {
    top: 21.875rem
  }
  .reserve__name {
    top: 15rem
  }
}
@media (min-width:20em) and (max-width:87.5em) {
  @supports (margin-bottom:clamp(0.9375rem ,0.8449074074rem + 0.462962963vw ,1.25rem)) {
    .about__text p:not(:last-child) {
      margin-bottom: clamp(.9375rem ,.8449074074rem + .462962963vw ,1.25rem)
    }
  }
  @supports not (margin-bottom:clamp(0.9375rem ,0.8449074074rem + 0.462962963vw ,1.25rem)) {
    .about__text p:not(:last-child) {
      margin-bottom: calc(.9375rem + .3125 * (100vw - 20rem)/ 67.5)
    }
  }
}
@media (any-hover:hover) {
  ::-webkit-scrollbar {
    width: .8125rem;
    background-color: #fff
  }
  ::-webkit-scrollbar-thumb {
    background: #7d5757
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #a87676
  }
  ::-webkit-scrollbar-thumb:active {
    background: #583e3e
  }
  .button:hover {
    color: #fff;
    background-color: #7d5757
  }
  .link:hover {
    color: #343434
  }
  .social__link:hover svg path {
    fill: #343434
  }
  .decor:hover svg path {
    fill: #343434
  }
  .header__logo:hover {
    color: #7d5757
  }
  .header__logo:hover svg path {
    fill: #7d5757
  }
  .about__image:hover img {
    box-shadow: 0 0 2.5rem .9375rem #6c6456
  }
  .reserve__action a:hover {
    color: #000
  }
}
@media (any-hover:none) {
  .button:active {
    transition-duration: 0s;
    color: #fff;
    background-color: #7d5757
  }
  .link:active {
    transition-duration: 0s;
    color: #343434
  }
  .social__link:active svg path {
    transition-duration: 0s;
    fill: #343434
  }
  .decor:active svg path {
    transition-duration: 0s;
    fill: #343434
  }
  .header__logo:active {
    transition-duration: 0s;
    color: #7d5757
  }
  .header__logo:active svg path {
    transition-duration: 0s;
    fill: #7d5757
  }
  .menu-open .header .header__logo.logo:active {
    color: #343434
  }
  .menu-open .header .header__logo.logo:active svg path {
    fill: #343434
  }
  .reserve__action a:active {
    transition-duration: 0s;
    color: #000
  }
}